body {
background: #050816;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: Arial;
}

.login-container {
background: #020617;
padding: 40px;
border-radius: 10px;
width: 300px;
text-align: center;
box-shadow: 0 0 15px rgb(255, 0, 4);
}

.login-container h2 {
margin-bottom: 20px;
color: #ff0000;
}

.login-container input {
width: 100%;
padding: 10px;
margin: 10px 0;
border: none;
border-radius: 5px;
}

.login-container button {
width: 100%;
padding: 10px;
background: transparent;
border: 2px solid #ff0000;
color: #ff0008;
cursor: pointer;
transition: 0.3s;
}

.login-container button:hover {
background: #ff002b;
color: black;
}
